@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .log_In_Input {
    @apply h-12 bg-[#0f1535] border-[1px] border-gray-700 outline-none focus:outline-none focus:ring focus:ring-blue-400 px-4 text-gray-500 rounded-[1.25rem] placeholder:text-gray-500 placeholder:text-sm placeholder:font-semibold;
  }
  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 3px solid #64a2f6;
    -webkit-text-fill-color: #ccc;
    -webkit-box-shadow: 0 0 0px 1000px #0f1535 inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}
