@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .log_In_Input {
    @apply h-12 bg-[#0f1535] border-[1px] border-gray-700 outline-none focus:outline-none focus:ring focus:ring-blue-400 px-4 text-gray-400 rounded-xl placeholder:text-gray-400 placeholder:text-sm placeholder:font-semibold;
  }

  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 2px solid #64a2f6;
    -webkit-text-fill-color: #ccc;
    -webkit-box-shadow: 0 0 0px 1000px #0f1535 inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  .TabsLinks {
    @apply flex items-center space-x-1 hover:opacity-80 text-xs outline-none focus:outline-none font-sans dark:font-semibold font-bold uppercase tracking-wide transition-opacity duration-300;
  }
  .navlinks.active {
    @apply text-blue-600 lg:dark:text-gray-400 lg:text-slate-600 lg:border-b border-slate-400;
  }
  .supportlinks.active {
    @apply border-t-2 border-blue-600;
  }

  .settingsNav {
    @apply dark:text-slate-500 text-slate-500 text-sm font-semibold flex items-center space-x-1 hover:text-blue-500 dark:hover:text-blue-500 border-b md:border-0 p-1 border-slate-500;
  }
  .sidenav .active {
    @apply text-blue-500;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .contacts-control {
    @apply text-slate-600 dark:text-gray-400 h-10 w-10 flex justify-center items-center p-2 border-transparent border bg-slate-300 dark:bg-slate-700 dark:hover:bg-slate-600 hover:bg-gray-200 cursor-pointer rounded focus:outline-none focus:border-gray-800;
  }

  #ticketResolvedDetails:hover div{
    display:flex;
  }

  .delayDisplay {
    opacity: 0;
    transtion: opacity 0.3s;
    animation: animated linear 0.3s forwards;
    animation-delay:1s
  }

  #Profile_Details:hover .hoverProfile_Details{
    display:flex;
  }

  @keyframes animated {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  ::-webkit-scrollbar {
    width: 0.5vh;
  }

  ::-webkit-scrollbar-track {
    @apply bg-[#63626213] rounded-[1vh];
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply dark:bg-slate-900 bg-slate-400 rounded-[1vh];
  }

  .custom-shadow {
    box-shadow: 0px 1px 0px rgba(0, 0, 0.68, 0.2);
  }

  /* Handle on hover */
  html::-webkit-scrollbar-thumb:hover {
    @apply bg-[#555];
  }

  html,
  *,
  body {
    scroll-behavior: smooth;
    scrollbar-color: #374151;
    scrollbar-width: none;
    font-family: "PT Sans", sans-serif;
  }
  abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
  }
  .scroll-snap {
    scroll-snap-type: y mandatory;
  }
  .snap_child {
    scroll-snap-align: center;
  }
  .snap_childTwo {
    scroll-snap-align: start end;
  }
}
