@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .log_In_Input {
    @apply h-12 bg-[#0f1535] border-[1px] border-gray-700 outline-none focus:outline-none focus:ring focus:ring-blue-400 px-4 text-gray-400 rounded-xl placeholder:text-gray-400 placeholder:text-sm placeholder:font-semibold;
  }

  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 2px solid inherit;
    -webkit-text-fill-color: #64748b;
    color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px inherit inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  .TabsLinks {
    @apply flex lg:justify-center items-center space-x-1 w-[5rem] hover:text-blue-600 text-[0.7rem] outline-none focus:outline-none font-sans dark:font-semibold font-bold uppercase tracking-wider overflow-hidden transition-colors duration-200;
  }
  .navlinks.active {
    @apply text-blue-600 border-blue-600 border-b-2 font-bold;
  }
  .supportlinks.active {
    @apply border-t-2 border-blue-600;
  }
  .settingsNav {
    @apply dark:text-slate-400 text-slate-700 text-sm font-semibold flex items-center space-x-1 hover:text-blue-500 dark:hover:text-blue-500 outline-none focus:outline-none;
  }

  .settingsNav.active {
    @apply text-blue-600;
  }
  .sidenav .active {
    @apply text-blue-500;
  }

  /*Connect Channels Styles ================================*/
  .connect_btn {
    @apply min-h-[4rem] col-span-1 rounded bg-slate-100 dark:bg-[#33415569] border border-slate-300 dark:border-slate-700 flex flex-col justify-center items-center gap-2 outline-none focus:outline-none focus:border-0 focus:ring-[1px] focus:ring-blue-600 hover:opacity-90 dark:hover:opacity-80 hover:shadow-lg hover:border-blue-600 dark:hover:border-blue-600 transition-all relative;
  }

  #connectModal,
  #newCannedResponse,
  #actionPanel {
    box-shadow: 0 0 0 9999999px rgba(0, 0, 0, 0.3);
  }
  /*End of Connect Channels Styles ================================*/

  #Profile_Details:hover .hoverProfile_Details {
    display: flex;
  }

  /*Custom Height  =====================================*/
  .h_Custom {
    height: calc(100vh - 4.5rem);
  }

  /* Audio/ Recording player styling =====================================*/
  audio::-webkit-media-controls-panel {
    @apply dark:bg-slate-500 bg-slate-200;
  }

  .delayDisplay {
    opacity: 0;
    transtion: opacity 0.3s;
    animation: animated linear 0.3s forwards;
    animation-delay: 1s;
  }

  @keyframes animated {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /** chat Images And Styling===========================================================*/
  .messageContainer * img {
    @apply m-1 h-[5rem] w-[5rem] border-2 border-slate-500 dark:border-slate-400 rounded  mx-1 object-center object-cover inline bg-slate-100 dark:bg-slate-700;
  }

  .messageContainer img {
    @apply cursor-zoom-in block;
  }

  .messageContainer p a,
  .messageContainer a,
  .messageContainer p span a {
    @apply text-blue-600 italic;
  }
  .messageContainer p a,
  .messageContainer a,
  .messageContainer p span a {
    color: #2563eb !important;
  }

  .messageContainer p span,
  .messageContainer p *,
  .messageContainer *,
  .replyEditor p *,
  .replyEditor p span,
  .replyEditor h1 *,
  .replyEditor h2 *,
  .replyEditor h3 *,
  .replyEditor ul,
  .replyEditor ol {
    background: inherit !important;
    color: inherit !important;
  }

  .replyEditor h1,
  .replyEditor h2,
  .replyEditor h3,
  .replyEditor p h1,
  .replyEditor p h2,
  .replyEditor p h3 {
    font-size: 1.2rem !important;
    line-height: 1.3rem !important;
  }

  .replyEditor p {
    line-height: 1rem !important;
  }
  .replyEditor a,
  .replyEditor p a {
    font-style: italic !important;
    color: rgb(37 99 235 / var(--tw-text-opacity)) !important;
  }

  .replyEditor img {
    @apply inline h-[3.5rem] w-[3.5rem] rounded mx-1 object-center object-cover;
  }

  .replyEditor ul {
    @apply list-disc;
  }

  .replyEditor ol {
    @apply list-decimal;
  }

  .ql-blank {
    min-height: 5rem !important;
  }

  .messageContainer h1,
  .template h1 {
    @apply text-sm font-bold;
  }
  .messageContainer h2,
  .template h2 {
    @apply text-sm font-bold;
  }
  .messageContainer h3,
  .template h3 {
    @apply text-sm font-bold;
  }
  .messageContainer ul,
  .template ul {
    @apply list-disc;
  }
  .messageContainer ol,
  .template ol {
    @apply list-decimal;
  }

  /** Canned Response List ==================*/
  .cannedResponseList:hover button {
    @apply flex;
  }

  /* Contacts Tooltip ===================================*/
  .contact_Tooltip {
    @apply flex flex-col items-center min-w-[12rem] min-h-[5rem] p-4 dark:bg-slate-800 bg-slate-100 border dark:border-slate-600 border-slate-300 shadow-2xl rounded transition-all duration-500 text-sm text-slate-800 dark:text-slate-300 overflow-hidden z-[9999] tracking-tight;
  }

  .contact_Option {
    @apply h-10 w-10 rounded hover:border hover:border-blue-600 hover:text-blue-600 dark:hover:border-blue-600 dark:hover:text-blue-600 transition-all flex justify-center items-center text-slate-800 dark:text-slate-400 cursor-pointer relative;
  }

  .contacts-control {
    @apply text-slate-600 dark:text-gray-400 h-10 w-10 flex justify-center items-center p-2 border border-slate-300 dark:border-slate-700 bg-slate-200 dark:bg-[#182235] dark:hover:bg-slate-700 hover:bg-gray-300 cursor-pointer rounded focus:outline-none focus:border-gray-800;
  }

  /* Reports No data Preloader ======================*/
  #reportsPreloader {
    animation: reportsPreloader linear 1.5s infinite;
  }

  @keyframes reportsPreloader {
    from {
      left: 0;
    }
    to {
      left: 100%;
    }
  }

  /** Alerts Animation || Toast Notification*/
  .alert {
    animation: alert ease-in-out 0.5s forwards;
  }

  .deleteExit {
    animation: deleteExit ease-in-out 0.3s forwards;
  }

  @keyframes alert {
    from {
      margin-left: 200%;
    }
    to {
      margin-left: 0;
    }
  }

  @keyframes deleteExit {
    from {
      margin-left: 0;
    }
    to {
      margin-left: 200%;
    }
  }

  /* SetUp New Account Loading Bar ===========================*/
  #setUpLoading {
    animation: loading linear 1s infinite alternate;
  }

  @keyframes loading {
    from {
      left: -50%;
    }
    to {
      left: 100%;
    }
  }

  /**HIde Date picker*/
  .DueDatePicker {
    display: none !important;
  }

  /*Tool Tip Bottom Cal*/
  .tooltip_bottom {
    bottom: -webkit-calc(
      100% - 10px
    ); /*may require prefix for old browser support*/
    bottom: calc(100% - 10px); /*i.e. half the height*/
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  ::-webkit-scrollbar {
    width: 0.5vh;
  }

  ::-webkit-scrollbar-track {
    @apply bg-[#63626213] rounded-[1vh];
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply dark:bg-slate-700 bg-slate-400 rounded-[1vh];
  }

  .custom-shadow {
    box-shadow: 0px 1px 0px rgba(0, 0, 0.68, 0.2);
  }

  /* Handle on hover */
  html::-webkit-scrollbar-thumb:hover {
    @apply bg-[#555];
  }

  html,
  *,
  body {
    @apply font-sans;
  }

  html,
  *,
  body {
    scroll-behavior: smooth;
    scrollbar-color: #374151;
    scrollbar-width: none;
  }
  abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
  }
  .scroll-snap {
    scroll-snap-type: y mandatory;
  }
  .snap_child {
    scroll-snap-align: center;
  }
  .snap_childTwo {
    scroll-snap-align: start end;
  }

  /* Lazy loading fallback ==============*/
  @-webkit-keyframes building-blocks {
    0%,
    20% {
      opacity: 0;
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
    30%,
    70% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    90%,
    100% {
      opacity: 0;
      -webkit-transform: translateY(300%);
      transform: translateY(300%);
    }
  }
  @keyframes building-blocks {
    0%,
    20% {
      opacity: 0;
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
    30%,
    70% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    90%,
    100% {
      opacity: 0;
      -webkit-transform: translateY(300%);
      transform: translateY(300%);
    }
  }

  .building-blocks {
    position: relative;
  }
  .building-blocks div {
    height: 20px;
    position: absolute;
    left: 50%;
    top: 45%;
    border-radius: 5px;
    width: 20px;
  }
  .building-blocks div:after {
    -webkit-animation: building-blocks 2.1s ease infinite backwards;
    animation: building-blocks 2.1s ease infinite backwards;
    background: #1d4ed8;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .building-blocks div:nth-child(1) {
    -webkit-transform: translate(-50%, -50%) translate(60%, 120%);
    transform: translate(-50%, -50%) translate(60%, 120%);
  }
  .building-blocks div:nth-child(2) {
    -webkit-transform: translate(-50%, -50%) translate(-60%, 120%);
    transform: translate(-50%, -50%) translate(-60%, 120%);
  }
  .building-blocks div:nth-child(3) {
    -webkit-transform: translate(-50%, -50%) translate(120%, 0);
    transform: translate(-50%, -50%) translate(120%, 0);
  }
  .building-blocks div:nth-child(4) {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .building-blocks div:nth-child(5) {
    -webkit-transform: translate(-50%, -50%) translate(-120%, 0);
    transform: translate(-50%, -50%) translate(-120%, 0);
  }
  .building-blocks div:nth-child(6) {
    -webkit-transform: translate(-50%, -50%) translate(60%, -120%);
    transform: translate(-50%, -50%) translate(60%, -120%);
  }
  .building-blocks div:nth-child(7) {
    -webkit-transform: translate(-50%, -50%) translate(-60%, -120%);
    transform: translate(-50%, -50%) translate(-60%, -120%);
  }
  .building-blocks div:nth-child(1):after {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }
  .building-blocks div:nth-child(2):after {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .building-blocks div:nth-child(3):after {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
  }
  .building-blocks div:nth-child(4):after {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  .building-blocks div:nth-child(5):after {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
  }
  .building-blocks div:nth-child(6):after {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
  }
  .building-blocks div:nth-child(7):after {
    -webkit-animation-delay: 1.05s;
    animation-delay: 1.05s;
  }
}
